[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "esmerald"
description = "Highly scalable, performant, easy to learn, easy to code and for every application."
long_description = "Highly scalable, performant, easy to learn, easy to code and for every application."
readme = "README.md"
requires-python = ">=3.7"
dynamic = ['version']
license = "MIT"
authors = [
    { name = "Tiago Silva", email = "tiago.silva@dymmond.com" },
]
classifiers = [
    "Intended Audience :: Information Technology",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python",
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "Typing :: Typed",
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Framework :: AnyIO",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
    "Topic :: Internet :: WWW/HTTP",
]
dependencies = [
    "a2wsgi>=1.6.0,<2",
    "aiofiles>=0.8.0,<23",
    "apscheduler<=3.9.1,<4",
    "awesome-slugify>=1.6.5,<2",
    "httpx>=0.23.0,<0.30.0",
    "itsdangerous>=1.1.0,<3.0.0",
    "jinja2>=3.1.2,<4.0.0",
    "jsonschema_rs>=0.16.0,<0.20.0",
    "loguru>=0.6.0,<0.7.0",
    "mako==1.2.3",
    "passlib==1.7.4",
    "pydantic>=1.10.2,<2.0.0",
    "pydantic-factories==1.12.0",
    "python-jose>=3.3.0,<4",
    "openapi-schemas-pydantic>=1.0.0",
    "orjson >=3.7.11,<4.0.0",
    "starlette==0.22.0",
    "ujson>=5.5.0,<6",
]
keywords = ["api", "rest", "http", "asgi", "pydantic", "starlette", "fastapi", "framework", "websocket", "openapi", "ml", "machine learning"]

[project.urls]
Homepage = "https://github.com/dymmond/esmerald"
Documentation = "https://esmerald.dymmond.com/"
Changelog = "https://esmerald.dymmond.com/release-notes/"
Funding = "https://github.com/sponsors/tarsil"
Source = "https://github.com/dymmond/esmerald"

[project.optional-dependencies]
test = [
    "pytest >=7.1.3,<8.0.0",
    "pytest-cov >=2.12.0,<5.0.0",
    "pytest-asyncio >=0.19.0,<0.20.0",
    "mypy ==0.982",
    "flake8 >=5.0.4,<6.0.0",
    "black == 22.10.0",
    "isort >=5.0.6,<6.0.0",
    "aiofiles>=0.8.0,<23",
    "a2wsgi>=1.6.0,<2",
    "aiofiles>=0.8.0,<23",
    "apscheduler<=3.9.1,<4",
    "awesome-slugify>=1.6.5,<2",
    "anyio[trio] >=3.2.1,<4.0.0",
    "brotli>=1.0.9,<2.0.0",
    "jinja2>=3.1.2,<4.0.0",
    "jsonschema_rs >=0.16.0,<0.20.0",
    "flask >=1.1.2,<3.0.0",
    "freezegun >=1.2.2,<2.0.0",
    "httpx >=0.23.0,<0.24.0",
    "mako ==1.2.3",
    "passlib ==1.7.4",
    "pydantic ==1.10.2",
    "pydantic-factories ==1.12.0",
    "python-jose >=3.3.0,<4",
    "orjson >=3.7.11,<4.0.0",
    "starlette >=0.21.0",
    "sqlalchemy >=1.4.29,<1.5.0",
    "requests >=2.27.0,<3.0.0",
    "ujson>=5.5.0,<6",

    # types
    "types-ujson ==5.5.0",
    "types-orjson ==3.6.2",
]

dev = [
    "autoflake >=1.4.0,<2.0.0",
    "flake8 >=3.8.3,<6.0.0",
    "uvicorn[standard] >=0.19.0",
    "pre-commit >=2.17.0,<3.0.0",
    "loguru>=0.6.0,<0.7.0",
    "watchfiles>=0.16.1,<0.20.0"
]

doc = [
    "mkautodoc >=0.2.0,<0.3.0",
    "mkdocs >=1.1.2,<2.0.0",
    "mkdocs-material >=8.1.4,<9.0.0",
    "mdx-include >=1.4.1,<2.0.0",
    "mkdocs-markdownextradata-plugin >=0.1.7,<0.3.0",
    "mkdocstrings>=0.19.0,<0.20.0",
    "pyyaml >=5.3.1,<7.0.0",
]

all = [
    "a2wsgi>=1.6.0,<2",
    "aiofiles>=0.8.0,<23",
    "apscheduler<=3.9.1,<4",
    "awesome-slugify>=1.6.5,<2",
    "itsdangerous >=1.1.0,<3.0.0",
    "jsonschema_rs>=0.16.0,<0.20.0",
    "jinja2>=3.1.2,<4.0.0",
    "loguru>=0.6.0,<0.7.0",
    "mako==1.2.3",
    "openapi-schema-pydantic ==1.2.4,<2.0.0",
    "orjson >=3.7.11,<4.0.0",
    "passlib==1.7.4",
    "pydantic==1.10.2",
    "pydantic-factories==1.12.0",
    "python-jose>=3.3.0,<4",
    "python-multipart >=0.0.5,<0.0.6",
    "requests >=2.24.0,<3.0.0",
    "starlette==0.22.0",
    "ujson>=5.5.0,<6",
]

[tool.hatch.version]
path = "esmerald/__init__.py"

[project.scripts]
esmerald-admin = "esmerald.core.management:execute_from_command_line"

[tool.isort]
profile = "black"
known_third_party = ["esmerald", "pydantic", "starlette"]

[tool.mypy]
strict = true

[[tool.mypy.overrides]]
module = "esmerald.tests.*"
ignore_missing_imports = true
check_untyped_defs = true

[tool.pytest.ini_options]
addopts = [
  "--strict-config",
  "--strict-markers",
]
xfail_strict = true
junit_family = "xunit2"

[tool.hatch.build.targets.sdist]
include = [
    "/esmerald",
]