:root, [data-bs-theme=light] {
  --bs-primary: #4cae4f;
  --bs-primary-rgb: 76,174,79;
  --bs-primary-text-emphasis: #1E4620;
  --bs-primary-bg-subtle: #DBEFDC;
  --bs-primary-border-subtle: #B7DFB9;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #4cae4f;
  --bs-btn-border-color: #4cae4f;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #67BA69;
  --bs-btn-hover-border-color: #5EB661;
  --bs-btn-focus-shadow-rgb: 11,26,12;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #70BE72;
  --bs-btn-active-border-color: #5EB661;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #4cae4f;
  --bs-btn-disabled-border-color: #4cae4f;
}

.btn-outline-primary {
  --bs-btn-color: #4cae4f;
  --bs-btn-border-color: #4cae4f;
  --bs-btn-focus-shadow-rgb: 76,174,79;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #4cae4f;
  --bs-btn-hover-border-color: #4cae4f;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #4cae4f;
  --bs-btn-active-border-color: #4cae4f;
  --bs-btn-disabled-color: #4cae4f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4cae4f;
}
